on init
    chown system system /sys/class/backlight/panel0-hbm/brightness
    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display-primary/fod_hbm
    
    chmod 0644 /sys/devices/platform/soc/soc:qcom,dsi-display-primary/fod_hbm

service fingerprint-inscreen-1-0 /system/bin/hw/lineage.biometrics.fingerprint.inscreen@1.0-service.lenovo
    interface vendor.lineage.biometrics.fingerprint.inscreen@1.0::IFingerprintInscreen default
    class hal
    user system
    group system wakelock
    shutdown critical
